n8n-workflows/workflow-user-email.json
{
  "name": "workflow-user-email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "user-email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-invite",
              "leftValue": "={{ $json.body.flow_type }}",
              "rightValue": "invite",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-flow-type",
      "name": "Branch on flow_type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@cargogent.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "={{ $json.body.subject }}",
        "emailType": "html",
        "message": "={{ $json.body.html_body }}",
        "html": "={{ $json.body.html_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-invite-email",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        -120
      ],
      "credentials": {
        "smtp": {
          "id": "QF6LvYDoe1D3Q3ju",
          "name": "CargoGent SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@cargogent.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "={{ $json.body.subject }}",
        "emailType": "html",
        "message": "={{ $json.body.html_body }}",
        "html": "={{ $json.body.html_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-reset-email",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        120
      ],
      "credentials": {
        "smtp": {
          "id": "QF6LvYDoe1D3Q3ju",
          "name": "CargoGent SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok-invite",
      "name": "Respond OK (invite)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok-reset",
      "name": "Respond OK (reset)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Branch on flow_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch on flow_type": {
      "main": [
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Respond OK (invite)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reset Email": {
      "main": [
        [
          {
            "node": "Respond OK (reset)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "386594b038e459ea"
}