backend/n8n_workflows/email-workflow-n8n.json
{
  "id": "pOMYzeh3sKxejCdB",
  "name": "Email Ingestion Workflow (10M Scheduled)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "format": "resolved",
        "postProcessAction": "nothing",
        "options": {
          "allowUnauthorizedCerts": true,
          "customEmailConfig": "[\"UNSEEN\"]"
        },
        "downloadAttachments": true
      },
      "id": "imap-read",
      "name": "IMAP Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($binary || {}).includes('attachment_0') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has-attachment",
      "name": "Has Attachment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/ingest/webhook",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fromEmail",
              "value": "={{ $json.from.value[0].address }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment_0"
            }
          ]
        },
        "options": {}
      },
      "id": "post-backend",
      "name": "Send API Request to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        160
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "IMAP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP Email": {
      "main": [
        [
          {
            "node": "Has Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachment?": {
      "main": [
        [
          {
            "node": "Send API Request to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}